*/.uuid
.config/nvim/autoload
.config/nvim/novs/autoload
.config/nvim/vs/autoload
.config/zsh/.oh*
.config/zsh/.zsh_history
.config/zsh/.zcompdump-*
.config/ranger/plugins/ranger_devicons
.config/ranger/__pycache__
.config/ranger/plugins/__pycache__
