[Desktop Entry]
Name=Apex Legends
Comment=Play this game on Steam
Exec=steam steam://rungameid/1172470
Icon=steam_icon_1172470
Terminal=false
Type=Application
Categories=Game;
