[Desktop Entry]
Name=Stick Fight: The Game
Comment=Play this game on Steam
Exec=steam steam://rungameid/674940
Icon=steam_icon_674940
Terminal=false
Type=Application
Categories=Game;
