[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/png;
Exec=env WINEPREFIX="/home/simrat39/.wine" wine start /ProgIDOpen pngfile %f
NoDisplay=true
StartupNotify=true
Icon=ECB7_iexplore.0
